<%= render('layouts/errors', :object => @chapter) %>

<%= form_for [@story, @chapter] do |f| %>
  <%= f.label :description %>
  <%= f.select :description , options_for_select([["Select One", ""], "Cell", "Work", "Office", "Home", "Other"]), :class => 'genForm_dropBox' %>



  <p><%= f.submit %></p>
<% end %>
