<%= render('layouts/errors', :object => @chapter) %>

<%= form_for [@story, @chapter] do |f| %>
  <%= f.label :description %>
  <%= f.collection_select :description, User.all, :name, :name %>
  <p><%= f.submit %></p>
<% end %>


<p><%= link_to "Return to stories", stories_path %></p>
