<%= render('layouts/errors', :object => @chapter) %>

<%= form_for [@story, @chapter] do |f| %>
  <%= f.label :description %>
  <%= f.collection_select :story_id, User.order(:name), :id, :name %>



  <p><%= f.submit %></p>
<% end %>
